---
import Pre from "$components/blog/Pre.astro";
import Code from "$components/blog/Code.astro";
import Tabs from "$components/blog/Tabs.astro";
import TransferChartLegend from "./TransferChartLegend.svelte";
import { format } from "./format-code";

// HACK: yank the code from this file and pick out the <script> tag
import thisFile from "./IntroDemo.astro?raw";
let code = thisFile!.match(/^<script>([\s\S]*)<\/script>/m)![1];
code = format(code);

import transfersData from "./transfers-top-spenders.json?raw";
---

<!-- 
* TODO: fix double-<pre> 
* TODO: implicit <Pre> tab meta? some kind of context? 
* TODO: cut down massive CSS in blog/[slug].astro
* TODO: move to cloudflare pages
-->
<div class="feature-group-x">
  <Tabs
    tabs={[
      { id: "intro-svelte", lang: "svelte" },
      {
        id: "intro-transfers",
        title: "transfers-top-spenders.json",
        lang: "json",
      },
    ]}>
    <Pre data-language="javascript" data-meta="tab='intro-svelte'">
      <!-- TODO: stop double wrapping in pre! <Code/> just needs all of <Pre>'s gubbins -->
      <Code lang="js" code={code} />
    </Pre>
    <Pre data-language="json" data-meta="tab='intro-transfers'">
      <Code lang="json" code={transfersData} />
    </Pre>
  </Tabs>
  <div class="feature" style="--flex-n: 0.7">
    <div class="feature-title-bar">
      <span>Result</span>
    </div>
    <div class="result">
      <p>
        Transfer window spend (in millions of £)<wbr /> by top 5 UK football clubs,
        by season
      </p>
      <svg preserveAspectRatio="xMidYMid meet" id="transfer-window"></svg>
      <TransferChartLegend />
    </div>
  </div>
</div>

<style>
  p {
    place-self: center;
    font-size: 15px;
    color: var(--text);

    max-width: 300px;
    text-align: center;
    margin: 0;

    margin-bottom: -32px;
  }

  @media (max-width: 1120px) and (min-width: 580px) {
    .result {
      display: grid;
      grid-template-areas:
        "chart title"
        "chart legend";

      grid-template-rows: 1fr 2.5fr;

      grid-row-gap: 0;
      grid-column-gap: 4px;
    }

    .result :global(.team-legend) {
      justify-self: start;
      padding-left: 4px;
    }

    svg {
      max-width: 420px;
      grid-area: chart;
    }

    p {
      max-width: 200px;
      text-align: left;
    }
  }
</style>

<script>
  import * as d3 from "d3";
  import transfers from "./transfers-top-spenders.json";

  const margin = { right: 20, top: 10, left: 40, bottom: 20 };
  const width = 400 - margin.left - margin.right;
  const height = 280 - margin.top - margin.bottom;

  // ["15/16", "16/17", "17/18", ... ]
  const seasons = [...new Set(transfers.map((d) => d.season))];

  const x = d3.scalePoint().domain(seasons).range([0, width]);
  const y = d3.scaleLinear().domain([0, 700]).range([height, 0]);
  // prettier-ignore
  // @ts-ignore
  const line = d3.line().x((d) => x(d.season)).y((d) => y(d.spend));

  // prettier-ignore
  const svg = d3.select("#transfer-window")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.bottom + margin.top)
    .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);

  // prettier-ignore
  svg.selectAll()
    .data(d3.group(transfers, (d) => d.team))
    .join("path")
    // @ts-ignore
    .attr("d", ([_, values]) => line(values))
    .attr("data-team", ([team]) => team)

  svg.append("g").call(d3.axisLeft(y));
  // prettier-ignore
  svg.append("g")
    .attr("transform", `translate(0,${height})`)
    .call(d3.axisBottom(x));
</script>
