---
import { getCollection, type CollectionEntry } from "astro:content";

import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/ArrowIcon.astro";
import { formatDateLong } from "$lib/utils/time";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await post.render();
---

<script>
  document.getElementById("back-to-top")!.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<Base title={post.data.title} description={post.data.intro}>
  <main class="h-full w-full px-5 sm:px-8 container:w-[840px]">
    <article class="mt-16 pb-16 sm:mt-28 md:pb-80">
      <header class="mb-10">
        <a href="/blog" class="flex gap-x-1 stroke-red font-medium text-red">
          <ArrowIcon />
          All Posts
        </a>
        <h1 class="font-heading mb-4 mt-8 text-3xl">{post.data.title}</h1>
        <p class="mb-4 text-grey">
          <span class="mr-1 inline-block">
            {formatDateLong(new Date(post.data.created))}
          </span>
          <span class="mr-1 inline-block">&#183;</span>
          <span class="inline-block">
            {post.data.readTimeMins} minute read
          </span>
        </p>
        {
          post.data.tags.map((tag) => (
            <span class="mr-1 rounded-sm bg-red-light px-1.5 text-sm text-red">
              {tag}
            </span>
          ))
        }
      </header>
      <div class="post-content w-full">
        <Content />
      </div>
      <footer class="mt-16 flex w-full justify-between text-sm text-grey">
        <p class="my-0">Thanks for reading!</p>
        <div class="flex gap-x-6 whitespace-nowrap">
          <button id="back-to-top" class="underline">Back to Top</button>
          <a class="underline" href="/">Back Home</a>
        </div>
      </footer>
    </article>
  </main>
</Base>
