---
import notion from "$context/notion";
import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/ArrowIcon.astro";
import { formatDateLong } from "$lib/utils/time";

export async function getStaticPaths() {
  const posts = await notion.getPostList();

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await notion.getPost(slug);
---

<script>
  document.getElementById("back-to-top")!.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<Base title={post.properties.title} description={post.properties.intro}>
  <main>
    <article>
      <header>
        <a href="/blog" class="all-posts-link">
          <ArrowIcon />
          All Posts
        </a>
        <h1>{post.properties.title}</h1>
        <p class="metadata">
          <span class="date">
            {formatDateLong(new Date(post.properties.created))}
          </span>
          <span>·</span>
          <span>{post.properties.readTimeMins} minute read</span>
        </p>
        {post.properties.tags.map((tag) => <span class="tag">{tag}</span>)}
      </header>
      <div class="post-content" set:html={post.content} />
      <footer>
        <p>Thanks for reading!</p>
        <div class="footer-links">
          <button id="back-to-top">Back to Top</button>
          <a class="underline" href="/">Back Home</a>
        </div>
      </footer>
    </article>
  </main>
</Base>

<style>
  main {
    border-radius: 4px;
    background-color: var(--white);
    padding: 8px 16px;
  }

  article {
    margin-top: 64px;
    padding-bottom: 64px;
  }

  header {
    margin-bottom: 40px;
  }

  .all-posts-link {
    display: flex;
    gap: 4px;
    stroke: var(--red);
    font-weight: 500;
    color: var(--red);
  }

  h1 {
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 20px;
  }

  p.metadata {
    color: var(--grey);
  }

  p.metadata > span {
    display: inline-block;
  }

  p.metadata > span:not(:last-child) {
    margin-right: 16px;
  }

  .tag {
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;

    border-radius: 2px;
    background-color: var(--red-light);
    color: var(--red);

    font-size: 14px;
    line-height: 20px;
  }

  .post-content {
    width: 100%;
  }

  footer {
    margin-top: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  footer > p {
    margin: 0;
  }

  .footer-links {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }

  .footer-links > a,
  .footer-links > button {
    text-decoration: underline;
  }

  @media (min-width: 640px) {
    main {
      padding-left: 32px;
      padding-right: 32px;
    }

    article {
      margin-top: 112px;
    }
  }

  @media (min-width: 840px) {
    main {
      width: 840px;
    }

    article {
      padding-bottom: 320px;
    }
  }
</style>
