---
import { formatDateLong } from "$lib/utils/time";
import type { CollectionEntry } from "astro:content";

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
---

<article class="mb-10">
  <a href={`/blog/${post.slug}`} class="group">
    <!-- TODO: highlight on hover text-red/text-black -->
    <h2
      class="hover-color-transition mb-3 font-noto-sans text-xl font-medium text-black
      group-hover:text-red"
    >
      {post.data.title}
    </h2>
    <p class="mb-3">{post.data.intro}</p>
    <p class="mb-3 text-grey">
      <span class="mr-1 inline-block">
        {formatDateLong(new Date(post.data.created))}
      </span>
      <span class="mr-1 inline-block">·</span>
      <span class="inline-block">{post.data.readTimeMins} minute read</span>
    </p>
    {
      post.data.tags.map((tag) => (
        <span class="mr-1 rounded-sm bg-red-light px-1.5 text-sm text-red">
          {tag}
        </span>
      ))
    }
  </a>
</article>
